 header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:70px;
    width:100%;
    position:fixed;
    top:0;
    padding:0px 60px;
    z-index:9999;
    transition:background-color 300ms;
    box-shadow:0px 20px 50px var(--dg)
 }

 .header-logo{
    font-family:'Segoe Script', sans-serif;
    text-decoration:none;
    color:var(--w);
    order:2;
    cursor:pointer;
}

 .menu{
    list-style:none;
 }

 .menu li{
    display:inline-block;
 }

 .menu a{
    text-decoration:none;
    color:var(--w);
    font-family:'Montserrat', sans-serif;
    font-size:1.3rem;
 }

 #burger-check{
    display:none;
 }

 .cart-area{
    display:flex;
    gap:5px;
    align-items:center;
    order:3;
 }

 #cart-check{
    display:none;
 }

 .burger-checkbtn{
    display:none;
    color:var(--w);
    order:1;
    cursor:pointer;
 }

 .cart-checkbtn{
    color:var(--w);
    cursor:pointer;
 }

 #cart-item-num{
    font-family:'Montserrat', sans-serif;
    font-size:1.3rem;
    color:var(--bg);
 }

 .headline{
    display:flex;
    flex-direction:column;
    gap:10px;
    z-index:10;
 }

 .headline h1{
    text-align:center;
    font-family:'Montserrat', sans-serif;
    font-size:1.5rem;
    color:var(--w);
 }

 .headline h3{
    text-align:center;
    font-family:'Montserrat', sans-serif;
    color:var(--w);
 }

 .line{
    width:100%;
    height:4px;
    border:none;
    background-color:var(--bg);
 }

@media only screen and (min-width: 375px) {

}

@media only screen and (max-width: 600px) {
   header{
      padding:0 20px;
   }

   .header-logo{
       font-size:1.3rem;
   }

   .burger-checkbtn{
       font-size:1.3rem;
   }

   .cart-checkbtn{
       font-size:1.3rem;
   }
}

@media only screen and (min-width: 600px) {
   .header-logo{
      font-size:1.75rem;
  }

  .burger-checkbtn{
      font-size:1.75rem;
  }

  .cart-checkbtn{
      font-size:1.75rem;
  }
}

@media only screen and (max-width:768px){
    .first-page img{
        left:0;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width:1023px){
    .menu{
        display:flex;
        flex-direction:column;
        gap:20px;
        justify-content:center;
        align-items:center;
        height:calc(100% - 70px);
        width:100%;
        position:fixed;
        top:70px;
        left:-100%;
        background-color:var(--g);
        transition:left 300ms;
    }

    #burger-check:checked ~ .menu{
        left:0%;
    }

    .burger-checkbtn{
        display:block;
    }
}

@media only screen and (min-width:1023px){
   .header-logo{
      order:1;
   }

   nav{
      order:2;
   }

   nav li{
      padding:0 20px;
   }

   .cart-area{
      order:3;
   }
}